<! BU DOSYA HALA TAMALANMADI>
{% load static %}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonradan Gurme</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <img src="{% static 'images/logo.png' %}" alt="Site Logosu" class="logo">
        <ul class="nav-links">
            <li><a href="#">Ana Sayfa</a></li>
            <li><a href="#">Restoranlar</a></li>
            <li><a href="#">Gurmeler</a></li>
            <li><a href="#">İletişim</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>
