<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}💚SONRADAN GURME💚{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <a href="{% url 'main_page' %}" class="logo">
            🍽️ <span>Sonradan Gurme</span>
        </a>

        <div class="search-box">
            <input type="text" placeholder="ne yemek istersin?">
        </div>

        <div class="buttons">
            {% if request.path == "/" %}
                <a href="{% url 'login' %}" class="btn">Giriş Yap</a>
                <a href="{% url 'register' %}" class="btn-outline">Kaydol</a>
            {% else %}
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="btn">Profil</a>
                    <a href="{% url 'logout' %}" class="btn-outline">Çıkış Yap</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn">Giriş Yap</a>
                    <a href="{% url 'register' %}" class="btn-outline">Kaydol</a>
                {% endif %}
            {% endif %}
        </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>