{% load static %}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonradan Gurme</title>
    <<link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Sonradan Gurme'ye Hoşgeldiniz!</h1>
        <p>Yeni yemekler keşfetmeye hazır mısın?</p>
        <div class="buttons">
            <a href="/login" class="btn">Giriş Yap</a>
            <a href="/register" class="btn btn-outline">Kaydol</a>
        </div>
    </div>
    <!-- Navbar -->
  <nav class="navbar">
    <div class="logo">🍽️ Sonradan Gurme</div>
    <div class="search-box">
        <input type="text" placeholder="Restoran ara...">
    </div>
    <div class="buttons">
        <a href="{% url 'login' %}" class="btn">Giriş Yap</a>
        <a href="{% url 'register' %}" class="btn-outline">Kaydol</a>
    </div>
  </nav>

</body>
</html>
