{% extends 'base.html' %}

{% block content %}
<div class="welcome-container">
    <h2>Gurme Başvurularım</h2>
    {% if applications %}
        <ul>
            {% for app in applications %}
                <li>
                    <strong>{{ app.user.username }}</strong> – 
                    "{{ app.message }}" <br>
                    <em>Durum: {{ app.status }}</em>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Henüz bir başvurun bulunmuyor sudecim 💛💙</p>
    {% endif %}
</div>
{% endblock %}
