{% extends "base.html" %}

{% block content %}
<div class="login-container">
    <h2>Giriş Yap</h2>

    {% if form.errors %}
        <p style="color: red;">Kullanıcı adı veya şifre hatalı.</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" required>

        <button type="submit">Giriş Yap</button>
    </form>

    <p>Hesabınız yok mu? <a href="{% url 'register' %}">Kaydol</a></p>
    <a href="{% url 'password_reset' %}">Şifrenizi mi unuttunuz?</a>
</div>
{% endblock %}
